@import "variables";
* {
    padding: 0%;
    margin: 0%;
    font-family: $fuentes;
}

.header {
    background-image: url(../images/mother-with-her-little-son-by-solar-panels.jpg);
    background-position: bottom;
    width: 100%;
    height: 40vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .navg a {
        margin: 30px;
        text-decoration: none;
        color: $color;
        font-weight: 700;
    }
    
.ParteSuperior {
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}


.boton button {
    background: $color;
    color: ghostwhite;
    width: 150px;
    height: 40px;
    border-radius: 7px;


}

.encabezado__portada .boton {
    margin-right: 100px;
}

.secciones li {
    display: inline-block;   
}

.secciones a {
    margin: 30px;
    text-decoration: none;
    color: $color;
    font-weight: 700;
}

.logo {
    width: 120px; 
    margin: 15px;
    display: flex;
    justify-content:start;

}
.encabezado__logo {
    margin-left: 60px;
}

.ParteSuperior .logoinicio {
    display: flex;
    justify-content: start;
}
/* Fin de Encabezado*/

/* Seccion 1: Productos */



.NProductos .titulo1{
    text-align: center;
    margin-top: 40px;
}

#siteProductos h3 {

    font-weight: 600;

}

.seccion1 .paneles, .seccion1 .bombas, .seccion1 .inversores, .seccion1 .baterias {

    background-color: #E0E6DF;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
}

.productos__individuales {

    margin-top: 60px;
    margin-bottom: 60px;
   
}


.productos__individuales .container {

        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    
}

.productos__individuales p {
    color: #2F5F4A;
    font-weight: 700;
}
.productos__individuales span {
    margin-top: 80px;
    font-size: 13px;
}


/* Fin de Sección 1*/

ul {
    margin: 0px;
    padding: 0px;
}
a:focus, a:hover, .portfolio-cat a:hover, .footer -menu li a:hover {
    color: #2B96CC;
    text-decoration: none;
}
.section-title h2 {
  
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
}
.section-title h2::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: $color;
    bottom: -25px;
    margin-left: -30px;
}
.section-title.service-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}
.blog-area {
    background: white;
    min-height: 100vh;
}
.blog-wrapper {
  background: #fff;
  overflow: hidden;
  padding: 20px;
}
.home-blog-wrapper{
  transition: .3s;
}
.blog-wrapper.home-blog-wrapper:hover {
  box-shadow: 10px 20px 30px rgba(0,0,0,.12);
}
.blog-thumb {
  margin-bottom: 20px;
}
.blog-title {
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.4;
  margin: 10px 0 15px;
  padding: 0;
  text-align: left;
}
.blog-content.home-blog h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
.blog-content.home-blog p {
  margin-bottom: 10px;
}
.link-box.home-blog-link a {
  font-size: 14px;
  color: $color;
}
.blog-title a {
  color: #222;
}
.link-box a {
  color: #555;
}
.link-box a:hover {
  color: $color;
}
.blog-title a:hover {
  color: $color;
}
.meta-info ul li {
  color: #9e9e9e;
  display: inline-block;
  font-size: 11px;
  padding: 0 12px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}
.embed-responsive {
  margin-bottom: 20px;
}


@media (max-width:768px) {
  .header .boton{
      display: none;
  }   

  .header {
      background-image: none;
  }
  .bg-header {
      background-color: rgb(160, 197, 162);
  }
 
  .navg .nav-item {
      margin: 0;
  }

  }